@charset "utf-8";

/* TAB 메뉴 */

.tabs {
  margin: 0 auto; 
  width: 100%;
  height: 100%;
} 

.tabmenu{display: flex; gap: 30px; margin: 0 auto;justify-content: center;}

.tabs a.tab {
  background: #f6f6f6;
  display:block; 
  text-align: center;
  font-size: 1.5rem; 
  font-weight: 500;
  padding: 15px 50px;
  color: #050D1B;
  transition: all .5s;
  border-radius: 50px;
  border: 1px solid #f6f6f6;
} 

.mainimg1{
  background: url(../images/content1/back.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row-reverse;
  position: relative; 
  align-items: center;
  justify-content: center;
  gap: 180px;
}

.mainimg2{
  background: url(../images/content1/back2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
}
  
.mainimg3{
  background: url(../images/content1/back3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
}


.mainimg1{
  img{width: 40%; height: 50%;
  }
  dl{width: 700px;}
  dl dt{
    font-size: 5.5rem; 
    line-height: 6.5rem; 
    color: #fff; 
    font-weight: 800;
    font-family: "Bruno Ace", serif;
  }
  dl dt::after{
    content: '';
    width: 470px;
    height: 1px;
    background: #aaa;
    position: absolute;
    top: 575px;
    left: 130px;
  }  

  dl dt>span{color: #aaa;}
  dl dd:nth-of-type(1){
    font-size: 2.5rem; 
    line-height: 3rem; 
    color: #E40214; 
    font-weight: 400;
    margin-top: 40px;
    font-family: "Bruno Ace", serif;
  }
  dl dd:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 400;
    color: #aaa;
    margin-top: 20px;
    width: 100%;
  }
}


/* Product */

.product .maintitle{margin: 200px 0 80px; position: relative;}
.product .maintitle::after{
  content: '';
  position: absolute;
  width: 550px;
  height: 2px;
  background: #050D1B;
  bottom: 40px;
  right: 5px;
}

.product:nth-of-type(2) .maintitle::after{
  content: '';
  position: absolute;
  width: 750px;
  height: 2px;
  background: #050D1B;
  bottom: 40px;
  right: 5px;
}

.product p, .compoundstage p{
  font-size: 4rem;
  color: #ccc;
  font-weight: 800;
  line-height: 5rem;
  font-family: "Bruno Ace", serif;}
.product p>span, .compoundstage p>span{color: #050D1B;font-weight: 700;}


.tabs .contlist {
 margin-top:50px; 
 display: none; 
 line-height:1.5em; 
 width: 100%
} 

.contlist{
  display: flex;
  width: 100%;
  margin-bottom: 150px;
}



.product{
  width: 1400px; 
  height: 100%; 
  margin: 0 auto;  
}
.product ul{display: flex;flex-direction: column; gap: 50px;}
.product>ul>li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 120px;
}
.product>ul>li:nth-of-type(2){flex-direction: row-reverse;}
.product dl{display: flex; gap: 30px;flex-direction: column;}
.product dl dt{
  font-size: 2.5rem; 
  font-weight: 600; padding-bottom: 30px;
  border-bottom: 1px solid #050D1B;}
.product dl dd{font-size: 1.5rem; font-weight: 500; line-height: 2.3rem;}

.product ul li > dl > ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: disc;
  margin: 0 20px;
  }

.contlist ul li img{
  transition: all .5s ease-out;
  width: 50%;
}


/* Hover */
.tabs a.tab:hover{
  border: 1px solid #E40214;
  background: #fff; 
  color: #E40214;
}
.contlist ul li:hover img{
  transform: scale(.97); 
  transition: all .5s ease-out;
}

/* Capacity Range */
.capacityRange {
  margin-top: 150px;
  background: #F6F6F8;
  padding: 100px 0;
  border-radius: 30px;
}

.capacityRange img{
  background: #fff;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.capacityRange p{
  font-size: 1.8rem;
  text-align: center;
  color: #050D1B;
  margin: 0 0 50px;
  line-height: 0;
  font-family: 'roboto';
  font-weight: 500;
}



/*TAB2*/
.sec2 dl dt{font-size: 4.8rem; line-height: 5.8rem;}
.sec2 img{width: 35%; height: 80%;}
.sec2 dl dt::after{left: 0px;top: 300px;}

/*TAB3*/

.sec3 dl dt::after{top: 560px;}

